.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: var(--spacing-xl) 0;
}

.hgroup {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--spacing-md);
}

.title {
  font-size: 2em;
}

.headerText {
  display: flex;
  gap: var(--spacing-md);
}

.footerText {
  display: flex;
  gap: var(--spacing-md);
}